@font-face {
  font-family: 'SegoeUI';
  src: url('/public/SegoeUI.ttf');
}

* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  background-color: #d1d7db;
  font-family: 'SegoeUI';
  justify-content: center;
  align-items: center;
}
