.main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main__frame {
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.frame__input:focus {
  outline: 2px solid #008069;
}

.frame__btn {
  padding: 10px 0px;
  margin: 10px 0px;
  max-width: 150px;
  width: 70%;
  border: none;
  border-radius: 25px;
  background-color: #008069;
  color: white;
}

.frame__btn:focus {
  outline: 2px solid #000404;
}
