.main {
  flex-direction: column;
  margin: 25px;
  font-family: 'SegoeUI';
}
@media (min-width: 600px) {
  .main {
    margin: 25px 10%;
  }
}
.substrate {
  height: 120px;
  width: 100%;
  background-color: #008069;
  position: absolute;
  top: 0;
  z-index: 0;
}

.main__pnone {
  background-color: #f0f2f5;
  padding: 20px 0px;
  width: 100%;
  text-align: start;
  z-index: 1;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.main__number {
  padding-left: 40px;
}

.main__messages {
  background-color: rgb(40, 199, 175);
  background-image: url('/public/what-s-img.jpg');
  background-size: contain;
  flex-grow: 1;
  width: 100%;
  z-index: 1;
}

.main__message-form {
  background-color: #f0f2f5;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.main__message {
  width: 90%;
  outline: none;
  border-radius: 10px;
  font-size: 16px;
  padding: 10px;
  margin: 10px;
  resize: none;
}

.main__btn {
  background-color: transparent;
  border: none;
}

.main__send {
  width: 30px;
  height: 30px;
}
