.main {
  width: 100%;
  height: 100%;
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'SegoeUI';
  background-color: #d1d7db;
}

.main__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  z-index: 1;
  max-width: 1000px;
  width: 100%;
  height: 95%;
}

.substrate {
  max-height: 120px;
  height: 10%;
  width: 100%;
  background-color: #008069;
  position: absolute;
  top: 0;
  z-index: 0;
}

.main__pnone {
  background-color: #f0f2f5;
  padding: 20px 0px;
  width: 100%;
  text-align: start;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.main__number {
  padding-left: 40px;
}

.main__messages {
  background-color: #f0f2f5;
  background-image: url('/public/what-s-img.jpg');
  background-size: contain;
  width: 100%;
  overflow-y: auto;
  min-height: 400px;
  height: 85%;
  overflow-y: auto;
}

.messages__frame {
  width: 100%;
  background-color: red;
  display: flex;
  flex-direction: column;
}

.main__messages::-webkit-scrollbar {
  display: none;
}

.messages__out {
  align-self: flex-end;
  background-color: #4ada80;
  max-width: 200px;
  width: fit-content;
  overflow-wrap: break-word;
  padding: 5px 10px;
  margin: 10px;
  border-radius: 15px;
  border-bottom-right-radius: 0px;
  white-space: normal;
  text-align: start;
}

.messages__inc {
  align-self: flex-start;
  background-color: #eaf2ed;
  max-width: 200px;
  width: fit-content;
  overflow-wrap: break-word;
  padding: 5px 10px;
  margin: 10px;
  border-radius: 15px;
  border-bottom-right-radius: 0px;
  white-space: normal;
  text-align: start;
}

.main__message_form {
  max-height: 15%;
  background-color: #f0f2f5;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.main__message {
  width: 90%;
  outline: none;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  padding: 10px;
  margin: 10px;
  text-align: start;
  background-color: rgb(255, 255, 255);
  resize: none;
}
